        </main>

        <div class="footer">
            <p style="padding-top: 40px;">Copyright © 2022 Cummins College of Engineering for Women, Pune</p>
        </div>

        <script src="js/index.js"></script>
        
        <script>
             $(".navLinks").mouseover(function(){
                $(this).css("color","aqua");
                $(this).mouseleave(function(){
                    $(this).css("color","white");
                });
            });        
        </script>
    </body>
</html>