<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
        <link rel="icon" href="images/favicon.ico">
        <title>Internship Website</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
        <script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
        <script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script>
        
        <nav>
            <div class="navHeader"><img src="images/collegeLogoPhoto.jpg" height="45px" width="45px" class="navIMG"></div> 
            <div class="navText">INTERNSHIP</div> 

            <div class="menu">
                <ul class="links">
                    <li class="home"><a href="/" id="home" class="navLinks">HOME</a></li>
                    <li class="about"><a href="/about" id="about" class="navLinks">ABOUT US</a></li>
                    <li class="companies"><a href="/companies" id="company" class="navLinks">COMPANIES</a></li>
                    <li class="statistics"><a href="/statistics" id="stat" class="navLinks">STATISTICS</a></li>
                </ul>
            </div>
        </nav>
    </head>

    <body>
        <main>
