<div style="background-color: #ebf0fc;">
    <%- include("partials/header") -%>

    <div class="aboutus">
        <h1 class="heading" style="margin-top: 70px; color: #182747; margin-bottom: 30px;">ABOUT US</h1>
        <div style="text-align: left; padding-left: 70px; padding-right: 70px; font-size: 20px;">
            <p>Hello! This website is exclusively made for Third Year students; To help them during their Intership Hiring Process.</p>
            <p>It is managed by Training and Placement Cell of Cummins College of Engineering for Women, Pune.</p>
            <br><p style="color: #284177; font-weight: bold;">About Our TNP Cell :</p>
            <p>The Training & Placement Cell plays an integral role in creating the illustrious placement record of Cummins College of Engineering for Women, Pune. It ensures smooth functioning of the placement activities in the campus and virtually. The cell further facilitates training activities of the students and makes sure they get placements and internships in the best of the companies. Our skilled and dedicated staff always tries to deliver precisely planned services to the student community and our recruiters.</p>
            <br><p style="color: #284177; font-weight: bold;">Companies Visiting for Internship Hiring :</p>
            <br><img src="images/listOfCompanies.jpg" height="auto" width="1050px" style="margin-left: 10px;">
        </div>
    </div>

<%- include("partials/footer") -%>
</div>
