<div style="background-color: #ebf0fc;">
<%- include("partials/header") -%>
   
     <h1 class="heading" style="margin-top: 70px; color: #182747;">COMPANIES</h1>
        
        <div class="main">
        
         <!--cards -->
         <div class="card" style="background-color: white;">
        
            <div class="image">
               <img src="images/intelLogo.png">
            </div>
            <div class="title">
             <h1>DE SHAW</h1>
            </div>
            <div class="des">
               <a href="company9">
                  <button type="button">more Info...</button>
               </a>
            </div>
            </div>
        <!--cards -->
        
        
        <div class="card" style="background-color: white;">
        
        <div class="image">
           <img src="images/citibank.jfif">
        </div>
        <div class="title">
         <h1>
        CITIBANK</h1>
        </div>
        <div class="des">
         <a href="company8">
            <button type="button">more Info...</button>
         </a>
        </div>
        </div>
        <!--cards -->
        
        
        <div class="card" style="background-color: white;">
        
        <div class="image">
           <img src="images/microsoft.jfif">
        </div>
        <div class="title">
         <h1>MICROSOFT</h1>
        </div>
        <div class="des">
         <a href="company7">
            <button type="button">more Info...</button>
         </a>
        </div>
        </div>
        <!--cards -->
        
        
        <div class="card" style="background-color: white;">
        
        <div class="image">
           <img src="images/flipkart.png">
        </div>
        <div class="title">
         <h1>
        FLIPKART</h1>
        </div>
        <div class="des">
         <a href="company6">
            <button type="button">more Info...</button>
         </a>
        </div>
        </div>
        <!--cards -->
        
        
        <div class="card" style="background-color: white;">
        
        <div class="image">
           <img src="images/DB.png">
        </div>
        <div class="title">
         <h1>DUETSCHE BANK</h1>
        </div>
        <div class="des">
         <a href="company5">
            <button type="button">more Info...</button>
         </a>
        </div>
        </div>
        <!--cards -->
        
        <div class="card" style="background-color: white;">
        
        <div class="image">
           <img src="images/barcl.png">
        </div>
        <div class="title">
         <h1>BARCLAYS</h1>
        </div>
        <div class="des">
         <a href="company4">
            <button type="button">more Info...</button>
         </a>
        </div>
        </div>
        <!--cards -->
        
        <div class="card" style="background-color: white;">
        
        <div class="image">
           <img src="images/amazon.png">
        </div>
        <div class="title">
         <h1>AMAZON</h1>
        </div>
        <div class="des">
         <a href="company3">
            <button type="button">more Info...</button>
         </a>

        
         
        </div>
        </div>
        <!--cards -->
        
        
        <div class="card" style="background-color: white;">
        
        <div class="image">
           <img src="images/walmart.jfif">
        </div>
        <div class="title">
         <h1>WALMART</h1>
        </div>
        <div class="des">
         <a href="company2">
            <button type="button">more Info...</button>
         </a>
        </div>
        </div>

        <div class="card" style="background-color: white;">
        
            <div class="image">
               <img src="images/UBS.jpg">
            </div>
            <div class="title">
             <h1>UBS</h1>
            </div>
            <div class="des">
             <a href="company1">
                <button type="button">more Info...</button>
             </a>
           
            </div>
            </div>
        </div>
            
        <!-- cards
        <div class="exelsheet" >
         <a href="https://docs.google.com/spreadsheets/d/1RxorROSjwUNCBdFEx9diyHNz-a1gG4jdYFIhfNZQTcE/edit#gid=1789144628" target="_blank">If you want to know more about other companies then visit this page</a>
        </div> -->
    
<%- include("partials/footer") -%>
</div>