<%- include("partials/header") -%>

    <img src="images/internship2.jpg" class="homeimg">
    
    <p style="padding-top: 70px; color: black; font-size: 30px; font-weight: bolder;">THIRD YEAR 2022-23</p>
    <img src="images/img1.jfif">
    <!-- <script>
        alert("hello");
    </script> -->

<%- include("partials/footer") -%>