/* #dfe8fd */
body{
    background-color: white;
    margin: 0%;
    display: flex;  /*flex box method*/
    flex-direction: column;  /*flex box method*/
    height: 100vh;
    text-align: center;
}

h3{
  color: #182747;
  text-align: center;
}

nav{
    background-color: #182747 ; /* #393939 */
    color: white;
    height: 70px;
    box-shadow: 0 2px 20px 0 black;
    padding-bottom: 15px;
}

.navIMG{
    border-radius: 50px;
    margin-top: 13px;
    margin-left: 23px;
}

.navText{
    margin-left: 98px;
    margin-top: 13px;
    position: absolute;
    font-size: 30px;
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navHeader{
    position: absolute;
}

#home, #about, #company, #stat{
    color: white;
}

.year{
    background-color: black;
    height: 50px;
    width: 50px;
    position: absolute;
}

.menu{
    float: right;
    margin-top: 21px;
}

li{
    display: inline;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 35px;
}

.footer{
    color: white;
    background-color:#182747 ;
    text-align: center;
    height: 100px;
    padding-bottom: 100px;
}

main{
    flex-grow: 1;     
}

.homeimg{
    height: auto;
    max-width: 100%;
    box-shadow: 0px 10px 20px 0px aqua;
}

.news{
    height: 300px;
    width: 800px;
    margin-left: 350px;   
    box-shadow: 5px 7px 7px 0px rgba(30, 30, 30, 0.8); /* right-shadow bottom-shadow blurr darkness */
}

.transitionBtn{
    width: 50px;
    height: 50px;
    color: white;
    background-color: #182747;
    border-color: #182747;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

button:hover{
  background-color: white;
  color: #182747;
  border-color: #182747;
  transition: .5s;
  cursor: pointer;
}


.btnDiv{
  margin-left: 130px;
}

.newsContent{
    position: absolute;
    width: 400px;
    height: 300px;
    margin-left: 350px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

.contact{
    background-color: #182747; 
    width: 100%; 
    margin-top: 0px; 
    margin-bottom: 1px;
    height: 900px; 
    color:white;
}

table, th, td {
  text-align: center;
  border: 3px solid #182747;
  color: #182747;
  padding: 10px;
  font-size: large;
}

.image
  {
    width: 235px;
    height:100px;
  }

  *{
    margin: 0px;
    padding: 0px;
   }
   
   body{
    font-family: arial;
   }

   .main{
   
    margin: 2%;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 120px;
    row-gap:50px;
    margin-left: 70px;
   }
   
   .card{
        width: 20%;
        display: inline-block;
        box-shadow: 5px 7px 7px 0px rgba(30, 30, 30, 0.8); /* right-shadow bottom-shadow blurr darkness */
        /* box-shadow: 2px 2px 20px black; */
        border-radius: 5px; 
        margin: 2%;
        width:250px;
        height:230px ;
        
       }
   
   .image img{
     width: 100%;
     border-top-right-radius: 5px;
     border-top-left-radius: 5px;    
    }
   
    h1{
        font-size: 20px;
      }

   .title{
    
     text-align: center;
     padding: 10px;
     
    }

    .heading
    {
        color: #188f9a;
        font-size: xx-large;
        font-weight: bolder;
        font-style: italic;
        
    }

    .headingrounds
    {
        color:black;
        font-style: bold;
    }
   
  
   .des{
     padding: 3px;
     text-align: center;
    
     padding-top: 10px;
     border-bottom-right-radius: 5px;
     border-bottom-left-radius: 5px;
   }

   .des button{
     margin-top: 3px;
     margin-bottom:3px;
     background-color: #182747;
     border: 1px solid #182747;
     border-radius: 5px;
     padding:10px;
     color: white;
   }

.des button:hover{
     background-color: white;
     color: #182747;
     border-color: #182747;
     cursor: pointer;
   }

   .companyimage
   {
    float: left;
   }

.centertext
{
    text-align: center;
    font-size: 15px;
}

.list-group {
    max-width: 600px;
    margin: 4rem auto;
  }
  
  .form-check-input:checked + .form-checked-content {
    opacity: .5;
  }
  
  .form-check-input-placeholder {
    border-style: dashed;
  }
  [contenteditable]:focus {
    outline: 0;
  }
  
  .list-group-checkable .list-group-item {
    cursor: pointer;
  }

  .leftpara
  {
    text-align: left;

  }

  .exelsheet
  {
    background-color: #92d9e0;
    height: 50px;
    color: black;
    text-decoration: dashed;
    font-size: x-large;
  }

  div.internshipstatus
  {
     margin-top: 40px;
     background-color: #dfe8fd;
     font-weight: bold;
     border-radius: 20px;
     height:250px;
     width:700px;
     font-size: medium;
     box-shadow: 5px 10px;
  }

  .stat_links {
    color: #284177;
  }

  .textinternship
  {
    padding:5px;
  }

  .aboutus{
    background-color: white; 
    width: 80%; 
    margin-top: 5%; 
    margin-left: 10%;
    margin-bottom: 70px;
    padding-bottom: 50px;
    padding-top: 10px;
    box-shadow: 5px 7px 7px 0px rgba(30, 30, 30, 0.8);
  }